*{
    font-family: "Sofia Pro";
    font-weight: bolder;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Helvetica";
    font-weight: 500;
    text-align: center;
}

section{
    display: grid;
    justify-content: center;
    margin: 30px 25% 30px 25%;
}

p{
    text-align: justify;
}

a{
    color:black
}

#mensa-icons {
    align-content: center;
    text-align: center;
}

#mensa-icons td {
    padding: 10px;
    width: 400px;
}

.logo{
    margin-left: 25px;
    margin-top: 8px;
}
nav{

    display: grid;
    grid-template-columns: 25% 75%;

}

nav li{
    display:inline;
    margin-left:20px;
}
nav a{
    text-decoration: none;
    color:black;
}
nav a:hover{
    text-decoration: underline;
}

footer{
    display:grid;
    justify-content: center;
}

footer li{
    display:inline;
    padding: 0 12px 0 10px;
    border-left: black solid 1px;
}

footer li:first-child{
    border-left: none;
}

